.custom-card {
  width: 210px; /* Set the card width to 100% */
  height: auto; /* Allow the card height to adjust based on content */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 23px;
  margin-left: 23px;
  transition: box-shadow 0.5s ease, border 0.5s ease;
}

.custom-card img {
  /* margin: 10px; */
  max-width: 100%; /* Limit the maximum width of the image */
  max-height: 260px; /* Limit the maximum height of the image */
}

.custom-card:hover {
  box-shadow: 0 0 10px rgba(74, 71, 71, 0.639);
  border: 1px solid #0aad0a;
  /* cursor: pointer; */
}




.btn-action .bi-eye {
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: #000; /* Set the color of the icon */
  transition: color 0.3s ease; /* Add transition effect for color change */
}

.btn-action:hover .bi-eye {
  color: #333; /* Change the color on hover */
}
