/* CustomCarousel.css */

.custom-carousel {
    border-radius: 10px; /* Adjust the value to change the roundness of the corners */
    overflow: hidden; /* Ensures that the rounded corners are applied correctly */
    margin-bottom: 25px;
    transition: box-shadow 0.5s ease, border 0.5s ease; /* Add transition for box-shadow and border */
}

.custom-carousel:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Example: Adds a shadow when hovered over */
    cursor: pointer;
    border: 1px solid #0aad0a;
}

.custom-carousel img {
    border-radius: 10px; /* Ensure the images inside the carousel inherit the border-radius */
    
}

.carousel {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the rgba values to make the shadow lighter */
}
